:root{
    --primary-color: #2680EB;
    --secondary-color: #EBEBEB;
    --grass-color: rgb(113, 230, 97);
    --black-color: black;
    --height-on-laptop-card-header: 160px; 
    --height-on-tablet-card-header: 140px
}