.main{
    margin-top: 90px;
    /* height: 70%; */
}
.main-container{
    height: 80%;
    margin: 0px 38px;
    padding: 0px 10px;
    width: 100%;
}
.categories{
    display: flex;
    width: 100%;
    justify-content: center;
}
.category{
    width: 26rem;
    margin-right: 30px;
}
.category-header{
    width: 100%;
    height: 200px;
    background: linear-gradient(72.25deg, #FFFFFF 0%, #EDEDED 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.card {
    width: 100%;
    /* height: 443px; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    padding-bottom: 20px;
}

.card-image-block{
    width: 100%;
    height: 250px;
    background-color: silver;
    position: relative;
}
.card-category-button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    background-color: white;
    width: 97px;
    height: 33px;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    cursor: pointer;
}
.card-content h4{
    margin-top: 20px;
    margin-bottom: 7px;
}
.card-content {
    margin: 0 30px;
}
.card-content p {
    margin-bottom: 15px;
    font-size: 14px;
}
.card-content span {
    font-size: 11px;
    margin: 10px 0;
}

.more-articles {
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: 30px;
    border-top: 3px var(--primary-color) solid;
}
.more-articles-container {
    margin: 0 20px;
    padding: 10px;
}
.more-articles h5 {
    margin-top: 20px;
    margin-bottom: 30px;
}
article {
    margin: 30px 0;
    position: relative;
    padding-bottom: 30px;
}
article span {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}
@media (min-width: 2500px) {
    .categories{
        justify-content: center;
    }
}

@media (min-width: 1600px) {
    .category-header,
    .card-image-block {
        height: 230px;
    }
    .category {
        width: 33rem;
    }

}

@media (max-width: 1024px) {
    .category {
        width: 18rem;
    }
    .card-content h4 {
        margin-top: 10px;
    }
    .card-content p {
        margin-bottom: 8px;
    }
    .card-content{
        margin: 0 10px;
    }
    #biologiya-block .category-header svg {
        width: 160px;
    }
    #biologiya-block .category-header {
        height: var(--height-on-laptop-card-header);
    }
    #geografiya-block .category-header svg {
        width: 170px;
    }
    #geografiya-block .category-header {
        height: var(--height-on-laptop-card-header);
    }
    #kimyo-block .category-header {
        height: var(--height-on-laptop-card-header);
    }
    #kimyo-block .category-header svg {
        width: 130px;
    }
    .card-category-button {
        height: 30px;
        width: 70px;
        font-size: 13px;
    }

    @media (max-width: 1001px) {
        .category {
            margin-right: 20px;
        }
    }
    @media (max-width: 970px) {
        .card-content p { 
            font-size: 14px;
        }
        .card-image-block {
            height: 160px;
        }
    }
    @media (max-width: 870px) {
        #biologiya-block .category-header svg {
            width: 140px;
        }
        #biologiya-block .category-header {
            height: var(--height-on-tablet-card-header);
        }
        #geografiya-block .category-header svg {
            width: 150px;
        }
        #geografiya-block .category-header {
            height: var(--height-on-tablet-card-header);
        }
        #kimyo-block .category-header {
            height: var(--height-on-tablet-card-header);
        }
        #kimyo-block .category-header svg {
            width: 110px;
        }
    }
    @media (max-width: 775px) {
        .categories{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .category {
            width: 70%;
            margin-bottom: 50px;
        }
        .category-header,
        .card-image-block {
            height: 250px !important;
        }
        #biologiya-block .category-header svg {
            width: 180px;
        }
        #geografiya-block .category-header svg {
            width: 190px;
        }
        #kimyo-block .category-header svg {
            width: 150px;
        }
        .card-content{
            margin: 0 30px;
        }
        .card-content h4 {
            font-size: 20px;
            margin: 10px 0;
        }
        .card-content p {
            font-size: 17px;
            margin: 10px 0;
        }
        .card-content span {
            font-size: 15px;
            margin-top: 20px;
        }
    }
    @media (max-width: 541px) {
        .category {
            width: 100%;
            margin-bottom: 50px;
        }
        .card-content{
            margin: 0 20px;
        }
        .card-content h4 {
            font-size: 20px;
            margin: 10px 0;
        }
        .card-content p {
            font-size: 17px;
            margin: 15px 0;
        }
        .card-content span {
            font-size: 12px;
        }
    }
    @media (max-width: 635px) {
        .card-content{
            margin: 0 20px;
        }
        .card-content h4 {
            font-size: 20px;
            margin: 15px 0;
        }
        .card-content p {
            font-size: 17px;
            margin: 20px 0;
        }
        .card-content span {
            font-size: 15px;
        }
    }

    @media (max-width: 451px) {
        .category {
            width: 100%;
        }
        .card-content{
            margin: 0 20px;
        }
        .card-content h4 {
            font-size: 18px;
            margin: 10px 0;
        }
        .card-content p {
            font-size: 15px;
            margin: 10px 0;
        }
        .card-content span {
            font-size: 13px;
        }
    }
    @media (max-width: 451px) {
        .card-content{
            margin: 0 15px;
        }
        .card-content h4 {
            font-size: 17px;
            margin: 10px 0;
        }
        .card-content p {
            font-size: 14px;
            margin: 10px 0;
        }
        .card-content span {
            font-size: 12px;
        }
    }
    @media (max-width: 321px) {
        .category-header,
        .card-image-block {
            height: 180px ;
        }
        .category {
            width: 100%;
        }
        .card-content{
            margin: 0 20px;
        }
        .card-content h4 {
            font-size: 16px;
            margin: 10px 0;
        }
        .card-content p {
            font-size: 14px;
            margin: 10px 0;
        }
        .card-content span {
            font-size: 11px;
        }
    }
}